@{
    
}

<div class="row" style="margin-top: 5px;">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-danger">Thank you </h1>
        <h2 class="text-danger">Your Request will be accessed and processed by Council Staff and/or the Tracks Trust</h2>
    </div>
</div>
<div class="row" style="margin-top: 5px;">
    <div class="col-md-4 col-md-offset-4">
        <a class="btn btn-success pull-right" href="~/Views/Home">Back to Track Issues Dashboard</a>
    </div>
</div>